/* :root:before {
    content: url(../src/img/springimg/{{.}})
             url(../src/img/summerimg/{{.}})
            
} */
:root {
    /* Colors */
    --color: #000;
    --bg-color: rgb(31, 30, 30);
    --primary-color: #fc4c02;
    --secondary-color: #f68727;
    --muted-color: #999;
    --code-color: var(--primary-color);
    --code-bg-color: #fff;

    /* Typography */
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --code-font: Menlo, Consolas, Monaco, Lucida Console, monospace;
    --bold: 700;
    --x-bold: 900;
    --line-height: 1.5em;
    --line-height-heading: 1.3em;

    /* Breakpoints */
    --sm-screen: 640px;
    
}

/* Base
 * *----------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

/* Typography
 * *----------------------------------------------- */

html {
    font-size: 16px;
    font-family: var(--font);
    line-height: var(--line-height);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    font-weight: var(--x-bold);
    line-height: var(--line-height-heading);
    letter-spacing: -0.005em;
}

h2 {
    margin: 40px 0px 20px 50px;
    font-size: 2rem;
    color: #dddddd;
}

h3 {
    margin-left: 50px;
    font-size: 1.06rem;
    display: block;
    color: #dddddd;
}

code {
    font-family: var(--code-font);
    overflow-wrap: break-word;
}

img {
    display: none;
    
}


/* -- Layout ------------------------------------------------------------------ */

.image-section {
    margin-bottom: 32px;
    margin-left: 50px;
    margin-right: 50px;
}

.swatch {
    float: left;
    background: #dddddd;
    width: 0.3rem;
    height: 8rem;
    /* display: inline-block; */
}

.season {
    min-width: 400px;
}



